<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Fruit Store</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dojo_fruit_store.css' %}">
</head>
<body>
    <div class="container"> 
        <div class="left">
              <h1>Dojo Fruit Store</h1>
              <div class="select">
                <h3>What would you like to buy?</h3>
                <form action="/checkout" method="post">
                    {% csrf_token %}
                  <table>
                    <tr>
                      <th>Fruit Name</th>
                      <th>Quantity</th>
                    </tr>
                    <tr>
                      <td><label for="strawberry">Strawberry</label></td>
                      <td><select name="strawberries"  id="strawberries">
                        {% for num in count %}
                        <option value="{{num}}">{{num}}</option>
                        {% endfor %}
                      </select></td>
                    </tr>
                    <tr>
                      <td><label for="raspberry">Raspberry</label></td>
                      <td><select name="raspberry"  id="raspberry">
                        {% for num in count %}
                        <option value="{{num}}">{{num}}</option>
                        {% endfor %}
                      </select></td>
                    </tr>
                    <tr>
                      <td><label for="apple">Apple</label></td>
                      <td><select name="apple"  id="apple">
                          {% for num in count %}
                          <option value="{{num}}">{{num}}</option>
                          {% endfor %}
                      </select></td>
                    </tr>
                  </table>
              </div>
              <div class="student">
                  <h3>Your Information</h3>
                    <table>
                      <tr>
                        <td><label for="name">Name:</label></td>
                        <td><input class="form-control" type="text" id="name" name="name"></td>
                      </tr>
                      <tr>
                        <td><label for="id">Your Student ID:</label></td>
                        <td><input class="form-control" type="text" id="id" name="id"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><button class="btn btn-secondary" type="submit">Buy Me Stuff!</button></td>
                      </tr>
                    </table>
                </form>
              </div>
          </div> 
       <div class="right">
         <div class="welcome">
      <h4>this is placeholder text</h4>
           
        </div>
      </div>
      </div>
      
</body>
</html>