<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/books_authors.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="left">
            <h2>Add an Author</h2>
            <form action="/new_author" method="POST">
                {% csrf_token %}
                <div class="row">
                    <label class="col-md-3" for="first_name">First Name</label>
                    <input class="col-sm-5" type="text" id="first_name" name="first_name">
                </div><br>
                <div class="row">
                    <label class="col-md-3" for="last_name">Last Name</label>
                    <input class="col-sm-5" name="last_name" id="last_name"></textarea>
                </div><br>
                <div class="row">
                    <label class="col-md-3" for="notes">Notes</label>
                    <textarea class="col-sm-5" name="notes" id="notes" cols="15" rows="10"></textarea>
                </div>
                <input type="hidden" name="author_id" value="{{author.id}}">
                <button class="btn btn-primary submit" type="submit">Add</button>
            </form>
        </div>
        <div class="right">
            <table>
                <thead>
                    {% for items in headers %}
                    <th>{{ items }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for author in authors %}
                    <tr>
                        <td>{{author.id}}</td>
                        <td>{{author.first_name}} {{author.last_name}}</td>
                        <td><a href="/authors/{{author.id}}">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>