<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/random_generator.css' %}">
</head>
<body>
    <div class="wrapper">
        <h3>Random Word (attempt #{{ request.session.counter }})</h3>
        <div class="number">
            {{ request.session.count }}
        </div>
        <form action="/random_word" method="post">
            {% csrf_token %}
        <input type="hidden" value="numbers" name="generate"> 
        <button type="submit">Generate</button>
        </form>
    </div>
</body>
</html>